<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="addbook">
        <div style="text-align: center;color: red;">
            <h3>{{msg}}</h3>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">书名</span>
            <input type="text" class="form-control" aria-describedby="sizing-addon1" value="bookName" v-model="bookName">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">作者</span>
            <input type="text" class="form-control" aria-describedby="sizing-addon1"  v-model="bookAuthor" value="bookAuthor">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">内容</span>
            <input type="text" class="form-control" aria-describedby="sizing-addon1"  value="bookContent" v-model="bookContent"> 
        </div>
        <br>
        <input type="button" id="submitBtn" value="修改" class="btn btn-lg btn-primary btn-block" @click="submit">

    </div>



    <script src="../js/vue.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/utils.js"></script>
    <script>
        var baseURL = "http://localhost:8088/";
        var vm = new Vue({
            el: "#addbook",
            data: {
                bookName: "",
                bookAuthor: "",
                bookContent: "",
                msg: ""
            },
            created: function(){
                axios({
                    method: "get",
                    url: baseURL + "book/getbook",
                    params: {
                        bookId: getUrlParam("bookId")
                    }
                }).then((res)=>{
                    vm.bookName = res.data.data.bookName
                    vm.bookAuthor = res.data.data.bookAuthor
                    vm.bookContent = res.data.data.bookContent
                })
            },
            methods: {
                submit() {
                    console.log("=============")
                    if (vm.bookName == "") {
                        vm.msg = "书名不能为空！"
                    } else {
                        if (vm.bookAuthor == "") {
                            vm.msg = "作者不能为空！"
                        } else {
                            if (vm.bookContent == "") {
                                vm.msg = "内容不能为空！"
                            } else {
                                axios({
                                    method: "post",
                                    url: baseURL + "book/updbook",
                                    params: {
                                        bookId:getUrlParam("bookId"),
                                        bookName: vm.bookName,
                                        bookAuthor: vm.bookAuthor,
                                        bookContent: vm.bookContent
                                    }
                                }).then((res) => {
                                    if(res.data.code==1005){
                                        alert("修改成功")
                                        location.href = "/html/home.html";
                                    }
                                })
                            }
                        }
                    }

                }
            }

        })
    </script>
    </div>
</body>

</html>